@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

:root {
  --accent: #aa3bff;
}

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}
